.header {
  padding: 10px 0;

  @include media('>=tablet') {
    padding: 21px 0;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

    @include media('>=1250px') {
      max-width: 650px;
    }
  }
}

.logo {
  display: block;
  width: 80px;

  @include media('>=tablet') {
    width: 106px;
  }

  &__link {
    display: inherit;
  }
}

.shop-basket {
  @include animate(opacity);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  border: 0;
  padding: 0;

  &:hover {
    opacity: .6;
  }

  i {
    font-size: 20px;
    margin: 0 10px 0 0;
  }

  &__counter {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $white;
    text-align: center;
    background-color: $black;
  }
}